[submodule "dependencies/aig"]
	path = dependencies/aig
	url = https://github.com/GaloisInc/aig
[submodule "dependencies/abcBridge"]
	path = dependencies/abcBridge
	url = https://github.com/GaloisInc/abcBridge
[submodule "dependencies/blt"]
	path = dependencies/blt
	url = https://github.com/GaloisInc/blt
[submodule "dependencies/parameterized-utils"]
	path = dependencies/parameterized-utils
	url = https://github.com/GaloisInc/parameterized-utils
