[submodule "dependencies/aig"]
	path = dependencies/aig
	url = https://github.com/GaloisInc/aig
[submodule "dependencies/abcBridge"]
	path = dependencies/abcBridge
	url = https://github.com/GaloisInc/abcBridge
[submodule "dependencies/blt"]
	path = dependencies/blt
	url = https://github.com/GaloisInc/blt
[submodule "dependencies/language-sally"]
	path = dependencies/language-sally
	url = https://github.com/GaloisInc/language-sally.git

