-- This file defines upper and lower bounds for solvers
-- that are expected to work with What4.  Lower bounds
-- are inclusive, but upper bounds are exclusive bounds.
-- Thus, we expect versions v to be compatible with
-- What4 when where lower <= v < upper.  A recommended
-- version may also be specified, which is purely
-- informational.

solvers:
  Z3:
    lower : "4.8.7"
    recommended : "4.8.9"
    upper : "4.9"
  Yices:
    lower : "2.6.1"
    recommended : "2.6.2"
    upper : "2.7"
  CVC4:
    lower : "1.7"
    recommended : "1.8"
    upper : "1.9"
  STP:
    lower : "3.2.1"
    recommended : "3.2.1"
    upper : "3.3"
